.video-hero-container {
  position: relative;
  height: 80vh;
  width: 100%;
  overflow: hidden;

}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.534); 
  z-index: 1;
}

.overlay {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  h1{
    color: white;
    font-weight: 650;
    font-size: 3.9rem;
    letter-spacing: 2px;
  }
}

.contact-button {
    
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: 640;
  color: white;
  background-color: #004460;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-button:hover {
  background-color: rgb(255, 255, 255);
  color: #004460;
}