#footer{
    padding-top: 70px;
    img{
       width: 100%;

         @media screen and (max-width: 1200px) and (min-width: 768px) {
        width: 50%;
}
         @media (max-width: 768px) {
    width: 50%;
    padding-bottom: 50px;
  }
    }
   
    .footerright{
        float: right;
        h4{
            text-align: center;
            color: #004460;
            font-size: 1.6rem;
        }
        p{
            max-width: 500px;
            font-weight: 500;
            font-size: 1.1rem;
            color: #004460;;
        }
        
    }
    .copyright{
        text-align: center;
        color: #004460;
        font-size: 1.1rem;
        font-weight: 540;
        padding-top: 20px;
    }
}