#meslehet{
    padding-top: 40px;
    background-color: #004460;
    padding-bottom: 40px;
    .heading{
    color: white;
    text-align: center;
    span{
        font-size: 1.1rem;
        font-weight: 540;
        letter-spacing: 1px;
    }   
    }
    .ptags{
        padding-left: 30px;
        color: white;
        font-weight: 540;
        max-width: 600px;
    }
}