#rehberlik{
    background-color: #004460;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    .container{
        padding-top: 70px;
    }
    .col-xl-6{
        display: flex;
        padding-bottom: 15px;
        flex-direction: column;
        justify-content: center;
    }
    img{
        width: 100%;
        border-radius: 4px;
    }
    h2{
        padding-top: 40px;
        color: white;
    }
    h3{
        color: white;
    }
    p{
        color: white;
        font-weight: 540;
        font-size: 1.8rem;
        letter-spacing: 0.7px;
    }
    .white-line {
        background-color: rgb(255, 255, 255);
        height: 3px;
        border: none;
}
}